@model Customer


<form method="post"  asp-action="login">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Log In</h2>
            <hr />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Cus_Email">Email</label>
        <input asp-for="Cus_Email" class="form-control" name="email"/>
    </div>
    <div class="mb-3">
        <label asp-for="Cus_Password">Password</label>
        <input asp-for="Cus_Password" class="form-control" name="pwd"/>
    </div>
    <button type="submit" class="btn btn-outline-primary btn-sm" style="width:149px">Log In</button>
    <a asp-controller="Book" asp-action="Index" class="btn  btn-outline-secondary btn-sm" style="width:149px">Back to Book List </a>
</form>
